@charset "UTF-8";
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --font-default-size: 1.6rem;
  --border-default: 1px solid var(--color-grey-light-4); }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.03);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  font-weight: 400;
  line-height: 1.6;
  font-family: Open Sans, sans-serif;
  color: var(--color-grey-dark-2);
  font-size: var(--font-default-size); }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      margin-left: 5rem; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .search {
      order: 1;
      flex: 0 0 95%;
      margin: 1rem 0; } }
  .search__input {
    width: 90%;
    border-radius: 100px;
    transition: all .3s;
    height: 3rem;
    padding: .3rem 2rem;
    /*useful to integrate the following element (the button)
        inside the main element (the search__input) => works when
        negative margin is applied to right or bottom sides. When it's applied
        to top/left sides, it will pul the element into the direction*/
    margin-right: -3.25rem;
    background-color: var(--color-grey-light-3);
    border: none; }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 100; }
    .search__input:focus {
      outline: none;
      width: 100%;
      color: var(--color-grey-dark-1);
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 100; }
      @media only screen and (max-width: 37.5em) {
        .search__input:focus {
          width: 98%; } }
  .search__input:focus + .search__button > .search__icon {
    fill: var(--color-grey-dark-1); }
  .search__button {
    background-color: var(--color-grey-light-3);
    border: none; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  @media only screen and (max-width: 37.5em) {
    .user-nav {
      margin-right: 6rem; } }
  .user-nav > * {
    padding: 0 2rem;
    align-self: stretch;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-3); }
      .user-nav > *:hover .user-nav__dropdown-menu {
        display: flex;
        flex-direction: column;
        z-index: 50; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .user-nav > *:hover .user-nav__user-name::after {
          background-color: var(--color-primary);
          transform: rotateZ(90deg); } }
  .user-nav__icon-box--chat {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    background-color: var(--color-primary);
    color: #fff;
    font-size: .8rem;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    position: relative; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1.2rem; }
  .user-nav__user-name {
    font-weight: 100; }
    .user-nav__user-name::after {
      content: "";
      display: inline-block;
      margin-right: .7rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .user-nav__user-name::after {
          background-color: currentColor;
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover;
          height: 1rem;
          width: 1rem;
          background-image: none;
          transition: all .2s; } }
  .user-nav__dropdown-menu--user-account {
    display: none;
    position: absolute;
    top: 6rem;
    right: 0rem;
    background-color: var(--color-grey-light-3);
    transition: all 1s; }
  .user-nav__dropdown-menu--user-chat {
    display: none;
    position: absolute;
    top: 6rem;
    right: 0rem;
    background-color: var(--color-grey-light-3);
    transition: all 1s; }

.sub-nav__list {
  list-style: none;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.sub-nav__item {
  padding: 1rem 3rem;
  text-align: center;
  transition: all .2s;
  width: max-content; }
  .sub-nav__item:hover {
    color: var(--color-primary); }
  .sub-nav__item:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light-4); }
    .sub-nav__item:not(:last-child):hover {
      border-bottom: 1px solid var(--color-primary); }

.chat-notif {
  display: flex;
  justify-content: left;
  padding: 1rem 2rem 1rem 0; }
  .chat-notif__picture {
    height: 4rem;
    border-radius: 50%; }
  .chat-notif__view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem; }
    .chat-notif__view--name {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 300; }
    .chat-notif__view--message {
      font-size: 1.1rem;
      font-weight: 300;
      color: var(--color-grey-light-2); }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-nav {
  list-style: none;
  margin-top: 3rem; }
  @media only screen and (max-width: 62.5em) {
    .side-nav {
      display: flex;
      margin-top: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .side-nav__item {
        flex: 1;
        display: flex;
        justify-content: center; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 62.5em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    text-transform: uppercase;
    padding: 2rem 3rem;
    text-decoration: none;
    z-index: 10;
    position: relative;
    color: var(--color-grey-light-1);
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        padding: 1rem 2rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 1rem; } }

.legal {
  display: flex;
  align-self: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 1rem;
  font-size: 1.2rem; }
  @media only screen and (max-width: 62.5em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }
  .gallery__item {
    position: relative;
    cursor: pointer; }
    .gallery__item:hover .gallery__item-caption {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 2rem 1.5rem 2rem 3rem;
      align-items: flex-start;
      justify-content: center;
      background-image: linear-gradient(to bottom right, rgba(255, 51, 102, 0.8), rgba(186, 38, 93, 0.8));
      background-size: cover;
      color: #fff; }
  .gallery__item-heading, .gallery__item-description {
    font-weight: 400; }
  .gallery__item-heading {
    text-transform: uppercase;
    letter-spacing: 1px; }
  .gallery__item-description {
    font-size: 1.2rem; }
  .gallery__item-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    display: none; }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--color-grey-light-2);
  background-color: #fff; }
  .overview__heading-and-stars {
    display: flex;
    align-items: center; }
  .overview__heading {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.25rem;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 22.5em) {
      .overview__heading {
        padding: .5rem 1rem;
        font-size: 1.8rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__star-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location-and-rating {
    display: flex;
    align-items: center;
    align-self: stretch; }
  .overview__location {
    display: flex;
    margin-right: 3rem; }
    @media only screen and (max-width: 22.5em) {
      .overview__location {
        margin-right: 1.5rem; } }
    .overview__location:hover {
      cursor: pointer;
      animation: pulsate 1s infinite; }
    .overview__location:focus {
      animation: pulsate 1s infinite; }
  .overview__location:hover > .overview__location-icon {
    fill: black; }
  .overview__location-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
    margin-right: 1rem;
    background-color: transparent; }
    @media only screen and (max-width: 22.5em) {
      .overview__location-icon {
        margin-right: 0; } }
  .overview__location-name {
    font-size: 1rem;
    color: var(--color-primary);
    border-bottom: solid 1px currentColor; }
    .overview__location-name:hover {
      color: black;
      border-bottom: solid 1px currentColor; }
  .overview__rating {
    padding: 0rem 2rem;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-primary);
    color: #fff; }
  .overview__rating-number {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 200; }
  .overview__rating-votes {
    font-size: .9rem;
    margin-top: -3px; }

.paragraphe:not(:last-of-type) {
  margin-bottom: 2rem; }

.paragraphe:last-of-type {
  border-bottom: var(--border-default);
  padding-bottom: 3rem; }

.list {
  margin-top: 3rem;
  list-style: none;
  border-bottom: var(--border-default);
  padding-bottom: 3rem;
  flex-wrap: wrap;
  display: flex; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    margin-right: .7rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        height: 1rem;
        width: 1rem;
        background-image: none; } }

.recommend {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.3;
  color: var(--color-grey-dark-3); }
  .recommend__count {
    margin-right: auto; }
  .recommend__photos {
    /* we use the box-sizing:border-box; model
        As a consequence, the border of 3px decreases the size of the image of 3px
        cuz the border is included in the content size. So we have 2  choices to keep 4rem size img:
        1/ increase of 3px the size of the img (put 7px)
        2/ set up box-sizing:content-box; which is the default set up   */
    box-sizing: content-box;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photos:not(:last-child) {
      margin-right: -2rem; }
  .recommend__friends {
    display: flex; }

.review {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  position: relative; }
  .review:not(:last-of-type) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 62.5em) {
      .review:not(:last-of-type) {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .review:not(:last-of-type) {
        margin-bottom: 0;
        margin-right: 5.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .review:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .review {
      flex: 0 0 45%;
      padding: 2rem; } }
  .review__text {
    z-index: 10; }
    .review__text::before {
      content: "\201C";
      font-family: sans-serif;
      position: absolute;
      top: -8.3rem;
      left: -1rem;
      font-size: 20rem;
      color: var(--color-grey-light-3);
      z-index: -1; }
  .review__user {
    display: flex;
    align-items: center;
    margin-top: 2rem; }
  .review__picture {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.7rem; }
  .review__user-box {
    font-size: 1.2rem;
    margin-right: auto; }
  .review__user-name {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--color-grey-dark-1); }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-light-4); }
  .review__rating {
    font-size: 2.2rem;
    color: var(--color-primary);
    font-weight: 100; }

.show-all {
  flex: 0 0 auto;
  align-self: center;
  margin-top: 3rem;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: solid 1px currentColor;
  font-size: inherit; }
  .show-all:hover {
    color: black;
    border-bottom: solid 1px currentColor; }
  .show-all > a {
    text-decoration: none;
    color: currentColor;
    transition: all .2s; }
    .show-all > a:hover {
      margin-right: .5rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
  color: var(--color-grey-dark-3); }

.btn-cta {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 3rem 0; }
  @media only screen and (max-width: 62.5em) {
    .btn-cta {
      margin: 1.5rem 0; } }
  .btn-cta > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .3s; }
  .btn-cta__visible {
    padding: 2rem 7.5rem; }
  .btn-cta__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn-cta:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn-cta:hover .btn-cta__visible {
    transform: translateY(100%); }
  .btn-cta:hover .btn-cta__invisible {
    top: 0; }
  .btn-cta:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      display: flex;
      flex-direction: column; } }

.header {
  height: 7rem;
  background-color: white;
  width: 100%;
  border-bottom: var(--border-default);
  /*position: absolute;
    top: 0;
    left: 0;*/
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-wrap: wrap;
      height: auto;
      position: sticky;
      top: 0;
      z-index: 100;
      padding: 1rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 62.5em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  /*
    Si on souhaite que tous les éléments de la barre aient la même largeur, on utilisera flex: auto qui correspond à la notation raccourcie 
    de flex: 1 1 auto — tous les objets grandissent et rétrécissent de la même façon à partir d'une taille de base automatique. 
    Cela signifie que le plus grand élément occupera plus d'espace.

    Dans l'exemple qui suit, vous pouvez modifier flex: auto pour utiliser flex: 1 qui correspond à la notation raccourcie 
    de flex: 1 1 0 et qui permet d'avoir la même largeur pour chaque élément, 
    car la base (flex-basis) vaut 0 et permet de répartir l'intégralité de l'espace de façon équitable.
    */
  flex: 1;
  /*for testing purposes I give an height*/ }

.detail {
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-default);
  padding: 4.5rem;
  font-size: 1.4rem;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      display: flex;
      flex-direction: column; } }

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 62.5em) {
    .description {
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 4rem; } }

.client-reviews {
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .client-reviews {
      flex-direction: row;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 22.5em) {
    .client-reviews {
      flex-direction: column; } }

.cta {
  text-align: center; }
