//PULSATION EFFECT WHEN FOCUS MODE
@keyframes pulsate {
    0% {
        transform: scale(1);   
        box-shadow: none;   
  
    }
    
    50%{
        transform: scale(1.03);   
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }
    
    100%{
        transform: scale(1);   
        box-shadow: none;
    }
}

