* {
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;  // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-middle) {
        font-size: 50%;  // 1rem = 8px, 8px/16px = 50%
    }

    @media only screen and (max-width: $bp-middle) {
        font-size: 37.5%;  // 1rem = 6px, 6px/16px
    }
}


body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;

    font-weight: 400;
    line-height: 1.6;
    font-family: Open Sans, sans-serif;
    color: var(--color-grey-dark-2);
    font-size: var(--font-default-size);

}

