//////////////////////////////////////////
//////LOGO
.logo{
    height: 3.25rem;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-small) {
        margin-left: 5rem;
    }
}



//////////////////////////////////////////
//////SEARCH
.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media only screen and (max-width: $bp-small) {
        order: 1;
        flex: 0 0 95%;
        margin: 1rem 0;
    }

    &__input{
        width: 90%;
        border-radius: 100px;
        transition: all .3s;
        height: 3rem;
        padding: .3rem 2rem;

        /*useful to integrate the following element (the button)
        inside the main element (the search__input) => works when
        negative margin is applied to right or bottom sides. When it's applied
        to top/left sides, it will pul the element into the direction*/
        margin-right: -3.25rem; 

        background-color: var(--color-grey-light-3);
        border: none;
        
        //Input elements doesn't inherit automatically font properties
        // + to format placeholder, I need to use a specific sector
        &::-webkit-input-placeholder{  //to format the placeholder at initial state
            color: var(--color-grey-dark-3) ; 
            font-family: inherit;
            font-size: 1.4rem;
            font-weight: 100;
        }
        
        &:focus{ //to format the text I write in the input space
            outline: none;
            width: 100%;
            color: var(--color-grey-dark-1);
            font-family: inherit;
            font-size: 1.4rem;
            font-weight: 100;

            @media only screen and (max-width: $bp-small) {
                width: 98%;
            }
        }
    }

    &__input:focus + &__button > &__icon { //to format the magnificient-glass when input bar is focus
        fill: var(--color-grey-dark-1);
    }

    &__button{
        background-color: var(--color-grey-light-3);
        border: none;

        &:focus{
            outline: none;
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }

}


//////////////////////////////////////////
//////USER NAVIGATION
.user-nav{
    display: flex;
    align-items: center;
    align-self: stretch;


    @media only screen and (max-width: $bp-small) {
        margin-right: 6rem;
    }

    
    & > * {  //to select all the direct children (the icon boxes + user)
        padding: 0 2rem;
        align-self: stretch; //equals to height: 100%; for each div box to occupy all height available
        display: flex;
        align-items: center;

        &:hover{
            background-color: var(--color-grey-light-3);


            & .user-nav__dropdown-menu {
                display: flex;
                flex-direction: column;
                z-index: 50;
            }

            & .user-nav__user-name::after{
    
            @supports (-webkit-mask-image: url()) or (mask-image: url()){
                background-color: var(--color-primary);
                transform: rotateZ(90deg);
            }
            }
        }
    }
    
    &__icon-box--chat{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill:var(--color-grey-dark-2) ;
        
    }

    //NOTIFICATION DROPDOWN
    &__notification {
        background-color: var(--color-primary);
        color: #fff;
        font-size: .8rem;
        border-radius: 50%;
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        top:1.5rem;
        right: 1.2rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    //USER DROPDOWN
    &__user {
        position: relative;
    }
    
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1.2rem;
    }

    &__user-name{
        font-weight: 100;

        &::after{
            content: "";
            display: inline-block;
            margin-right: .7rem;
            background-image : url(../img/chevron-thin-right.svg);
            background-size:cover;
    
            @supports (-webkit-mask-image: url()) or (mask-image: url()){
                background-color: currentColor;
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-image: url(../img/chevron-thin-right.svg);
                mask-size: cover;
                height: 1rem;
                width: 1rem;
                background-image: none;  //to be sure that the alternative solution for older browser doesn't prevail
                transition: all .2s;
            }
        }
    }

    &__dropdown-menu {

        &--user-account{
            display: none;
            position: absolute;
            top: 6rem;
            right: 0rem;
            background-color: var(--color-grey-light-3);
            transition: all 1s;
        }

        &--user-chat{
            display: none;
            position: absolute;
            top: 6rem;
            right: 0rem;
            background-color: var(--color-grey-light-3);
            transition: all 1s;  
        }     
    }
}


.sub-nav{

    &__list {
        list-style: none;
        font-size: 1.4rem;
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__item {
        padding: 1rem 3rem;
        text-align: center;
        transition: all .2s;
        width: max-content;  //to let the content occupy the full space
        
        
        &:hover{
            color: var(--color-primary);
        }

        &:not(:last-child){
            border-bottom: 1px solid var(--color-grey-light-4) ;

            &:hover {
                border-bottom: 1px solid var(--color-primary) ;
            }
        }
    }
}


//////////////////////////////////////////
//////CHAT NOTIFICATION
.chat-notif{
    display: flex;
    justify-content: left;
    padding: 1rem 2rem 1rem 0;

    &__picture{
        height: 4rem;
        border-radius: 50%;
    }

    &__view{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;

        &--name{
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 300;
        }

        &--message{
            font-size: 1.1rem;
            font-weight: 300;
            color: var(--color-grey-light-2) ;
        }
    }
    
}

//////////////////////////////////////////
//////////////////////////////////////////
//////SIDE BAR
//////////////////////////////////////////
//////////////////////////////////////////
.sidebar{
    display: flex;
    flex-direction: column; //allow to put the element it the cross axis, one on top of each other, instead of one side by side
    justify-content: space-between;
}


//////////////////////////////////////////
//////SIDE BAR NAVIGATION
.side-nav{
    list-style: none;
    margin-top: 3rem;

    @media only screen and (max-width: $bp-large) {
        display: flex;
        margin-top: 0;
    }


    &__item {
        position: relative ;

        @media only screen and (max-width: $bp-large) {
            flex:1;
            display: flex;
            justify-content: center;
        }

        &:not(:last-child){
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-large) {
                margin-bottom: 0;
            }
        }

        &::before{
            content: "";
            position: absolute;
            top:0;
            left:0;
            width: 3px;
            height: 100%;
            background-color: var(--color-primary);
            transform: scaleY(0); //the transform-origin is by default in the center
            transition: transform 0.2s,
                            width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,  //the width transition starts when the previous transform one is done after .4s and then will last .2s
                            background-color 0.1s;
        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before{
            background-color: var(--color-primary-light);
        }
        
    }

    &__link:link,
    &__link:visited{
        text-transform: uppercase;
        padding: 2rem 3rem; 
        text-decoration: none;
        z-index: 10;
        position: relative; //z-index needs a setp up position to work 
        color: var(--color-grey-light-1);
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            padding: 1rem 2rem; 
        }
    }


    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;

        @media only screen and (max-width: $bp-small) {
            margin-right: 1rem;
        }
    }
}


//////////////////////////////////////////
//////LEGAL
.legal{
    display: flex;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding : 0 1rem;
    font-size: 1.2rem;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }
}


//////////////////////////////////////////
//////OVERVIEW

//////////////////////////////////////////
//////GALLERY PHOTO
.gallery{
    display: flex;   //and .hotel-view {flex:1} which is equiv to flex : 1 1 0%;

    &__photo{
        width: 100%;
        display: block;
    }

    &__item {
        position: relative;
        cursor: pointer;

        &:hover .gallery__item-caption{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 2rem 1.5rem 2rem 3rem;
            align-items: flex-start;
            justify-content: center;
            background-image: linear-gradient(to bottom right, rgba(255,51,102, .8), rgba(186,38,93, .8));
            background-size: cover;
            color: #fff;
        }

    }

    &__item-heading, 
    &__item-description {
        font-weight: 400;
    }

    &__item-heading{
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__item-description{
        font-size: 1.2rem;
    
    }

    &__item-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: var(--color-primary);
        display: none;
    }

    
}

//////////////////////////////////////////
//////OVERVIEW CONTENT

.overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--color-grey-light-2) ;
    background-color: #fff;

    &__heading-and-stars{
        display: flex;
        align-items: center;
    }

    &__heading {
        @include heading-main

        @media only screen and (max-width: $bp-smallest) {
            padding: .5rem 1rem;
            font-size: 1.8rem;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__star-icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location-and-rating {
        display: flex;
        align-items: center;
        align-self: stretch;
    }


    &__location {
        display: flex;
        margin-right: 3rem;
        //background-color: transparent; useless to remove the box effect coming with the animation
        
        @media only screen and (max-width: $bp-smallest) {
            margin-right: 1.5rem;
        }

        &:hover {
            cursor: pointer;
            animation: pulsate 1s infinite;
            
            //background-color: transparent; useless to remove the box effect coming with the animation;
        }

        &:focus{ //for an unknown reason doesn't work on my mac
            animation: pulsate 1s infinite;
        }
    }

    &__location:hover > &__location-icon {
        fill: black;
    }

    &__location-icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
        margin-right: 1rem;
        background-color: transparent;

        @media only screen and (max-width: $bp-smallest) {
            margin-right: 0;
        }
    }

    &__location-name{
        font-size: 1rem;
        @include pink-hyperlink
        
    }

    &__rating{
        padding: 0rem 2rem;
        display: flex;
        align-self: stretch;
        flex-direction: column;
        justify-content: center;
        
        background-color: var(--color-primary);
        color: #fff;
   
    }

    &__rating-number{
        text-align: center;
        font-size: 2.25rem;
        font-weight: 200;
    }

    &__rating-votes{
        font-size: .9rem;
        margin-top: -3px; //to pull the element closer to the big rating number
    }
}


//////////////////////////////////////////
//////PARAGRAPHE
.paragraphe{

    &:not(:last-of-type){
        margin-bottom: 2rem;
    }

    &:last-of-type{
        border-bottom: var(--border-default);
        padding-bottom: 3rem;
    }
}


//////////////////////////////////////////
//////LIST
.list{
    margin-top: 3rem;
    list-style: none;
    border-bottom: var(--border-default);
    padding-bottom: 3rem;
    //Very nice technique w/ flexbox to make a x-column list
    // container is set to flex and wrap
    //item are set to flex : 0 0 x%;
    
    flex-wrap: wrap;
    display: flex;

    &__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before{
        
        content: "";
        display: inline-block;
        margin-right: .7rem;

        // For older versions
        background-image : url(../img/chevron-thin-right.svg);
        background-size:cover;

        //Media query for newer browser - mask
        @supports (-webkit-mask-image: url()) or (mask-image: url()){
            background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        height: 1rem;
        width: 1rem;
        background-image: none;  //to be sure that the alternative solution for older browser doesn't prevail
        }
    }
}


//////////////////////////////////////////
//////RECOMMENDATION
.recommend{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.3;
    color: var(--color-grey-dark-3);

    &__count{
        margin-right: auto; //to push to maximum  available the photos on the right
    }

    &__photos{
        /* we use the box-sizing:border-box; model
        As a consequence, the border of 3px decreases the size of the image of 3px
        cuz the border is included in the content size. So we have 2  choices to keep 4rem size img:
        1/ increase of 3px the size of the img (put 7px)
        2/ set up box-sizing:content-box; which is the default set up   */
        box-sizing: content-box;  
        width: 4rem;
        border-radius: 50%;
        border:3px solid #fff; 
        
        &:not(:last-child){
            margin-right: -2rem; //trick to position the picture one on top of each other + border:#fff to give this style
        }
    }

    &__friends {
        display: flex;  //we put it at the end (media query time) to force the picture to stay one next to each other
    }
}


//////////////////////////////////////////
//////REVIEW

.review{
    background-color: #fff;
    padding: 3rem;
    box-shadow: var(--shadow-light);
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:last-of-type){
        margin-bottom: 4rem;

        @media only screen and (max-width: $bp-large) {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-bottom: 0;
            margin-right: 5.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: 2rem;
        }

    }

    @media only screen and (max-width: $bp-small) {
        flex : 0 0 45%;
        padding: 2rem;
    }

    &__text{
        z-index: 10;

        &::before{
            content:"\201C"; //quote symbol
            font-family: sans-serif;
            position: absolute;
            top: -8.3rem;
            left: -1rem;
            font-size: 20rem;
            color: var(--color-grey-light-3);
            z-index: -1;
        }
    }

    &__user{
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }


    &__picture{
        height: 4rem;
        border-radius: 50%;
        margin-right: 1.7rem;
    }
    &__user-box{
       font-size: 1.2rem;
        margin-right: auto;
    }
    &__user-name{
        text-transform: uppercase;
        font-size: 1.1rem;
        color: var(--color-grey-dark-1);
    }
    &__user-date{
        font-size: 1rem;
        color: var(--color-grey-light-4);
    }
    &__rating{
        font-size: 2.2rem;
        color: var(--color-primary);
        font-weight: 100;
    }
}

.show-all{
    flex: 0 0 auto;
    align-self: center;
    margin-top: 3rem;
    border: none;
    background-color: transparent;
    @include pink-hyperlink  //other solution is to create a .btn-inline element 
    font-size: inherit;
    
    & >a {
        text-decoration :none;
        color: currentColor;
        transition: all .2s;

        &:hover{
            margin-right: .5rem;
        }
    }
}

//////////////////////////////////////////
//////SECONDARY HEADING
.heading-secondary{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    color: var(--color-grey-dark-3);
}

//////////////////////////////////////////
//////CALL TO ACTION BUTTON
.btn-cta {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    margin: 3rem 0;

    @media only screen and (max-width: $bp-large) {
        margin: 1.5rem 0;
    }

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .3s;
    }

    //ROLLING DOWN EFFECT WHEN HOVERING
    //We create two spans that will be replaced one each other when hovering
    &__visible {
        padding: 2rem 7.5rem;
    }

    //the hidden one is under the visible one
    &__invisible {
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    //when hovering it goes up
    &:hover &__visible {
        transform: translateY(100%);
    }

    //replaces the visible one
    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
    
}