.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    //min-height: 50rem; //for development/testing purposes, then the height will be the content's height
    

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
    }

    //Transforming the container to a one column layout
    @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
    }
}

.header{
    height: 7rem;
    background-color: white;
    width: 100%;

    border-bottom: var(--border-default);
    /*position: absolute;
    top: 0;
    left: 0;*/

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        flex-wrap: wrap;
        height: auto;
        position: sticky;
        top: 0;
        z-index: 100;
        padding:1rem;
    }
}


.content{
    display: flex; //to display side by side the sidebar & the hotel-view

    @media only screen and (max-width: $bp-large) {
        flex-direction: column;
    }
}


.sidebar{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;  // flex : does it grow as much as possible + does it shrink if needed + length set up
} 


.hotel-view{
    /*
    Si on souhaite que tous les éléments de la barre aient la même largeur, on utilisera flex: auto qui correspond à la notation raccourcie 
    de flex: 1 1 auto — tous les objets grandissent et rétrécissent de la même façon à partir d'une taille de base automatique. 
    Cela signifie que le plus grand élément occupera plus d'espace.

    Dans l'exemple qui suit, vous pouvez modifier flex: auto pour utiliser flex: 1 qui correspond à la notation raccourcie 
    de flex: 1 1 0 et qui permet d'avoir la même largeur pour chaque élément, 
    car la base (flex-basis) vaut 0 et permet de répartir l'intégralité de l'espace de façon équitable.
    */
    flex: 1;


    /*for testing purposes I give an height*/
    //height: 100rem;
}

.detail{
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-default);
    padding: 4.5rem;
    font-size: 1.4rem;

    display: flex;

    @media only screen and (max-width: $bp-middle) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
    }
    
}

.description{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex : 0 0 60%; // I want this section to occupy 60% of the detail section, and no grow no shrink

    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-large) {
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 4rem;
    }
}

.client-reviews{
    background-color: transparent;
    flex: 1; // I want to occupy the rest of the space
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
    }
}


.cta{
    text-align: center;
}