@mixin heading-main {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.25rem;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
} 

@mixin pink-hyperlink {
    color: var(--color-primary);
    border-bottom: solid 1px currentColor;
    
    &:hover {
        color: black;
        border-bottom: solid 1px currentColor;
    }
}

