//Setting up Custom Properties = CSS Variables ≠ SCSS Variables 
:root{
    
    //COLORS
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1 : #333;
    --color-grey-dark-2 : #777;
    --color-grey-dark-3 : #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    //TYPO
    --font-default-size : 1.6rem;

    //BORDERS
    --border-default : 1px solid var(--color-grey-light-4);
}


//BREAKPOINTS
$bp-largest : 75em;     //1200px     1200/16px = 75
$bp-large : 62.5em;     //1000px
$bp-middle : 56.25em;     //900px
$bp-small : 37.5em;     //600px
$bp-smallest : 22.5em;     //360px
$color : red;






